@media only screen and (min-width: 1000px) {
  .whyVastuWrapper {
    margin-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    .whyVastuContent {
      display: flex;
      flex-direction: column;
      .whyVastuFirstContentSection {
        display: flex;
        align-items: center;
        p {
          &.notQuote {
            font-size: 18px;
            text-align: left;
            line-height: 30px;
          }
          text-align: left;
          font-size: 22px;
          letter-spacing: 0px;
          line-height: 36px;
          text-transform: uppercase;
          color: #d8a27d;
          font-weight: 400;
          font-family: 'Philosopher';
          span {
            display: block;
            color: #abbdd6;
            margin-bottom: 50px;
            font-size: 23px;
            text-align: right;
          }
        }
        .parushaWrapper {
          width: 50%;
          height: 500px;
          position: relative;

          padding: 50px;
          padding-left: 110px;
          padding-top: 15px;
          img {
            height: 500px;
            width: 500px;
            object-fit: cover;
            border-top-left-radius: 1474px;
            border-bottom-left-radius: 2416px;
            border-top-right-radius: 2630px;
            border-bottom-right-radius: 1349px;
          }
          .parushaHolder {
            width: 110%;
            height: 456px;
            position: absolute;
            top: 42px;
            left: 10px;
            background-image: url('../../assets/images/parusha.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
          }
        }
      }
      .vastuPros {
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        .prosItem {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 25%;

          .prosFlower {
            width: 60px;
            height: 60px;
            display: flex;
            flex-wrap: wrap;
            div {
              width: 50%;
              height: 50%;

              &.yel,
              &.gra {
                border-bottom-right-radius: 20px;
                border-top-left-radius: 20px;
              }
              &.bl,
              &.purp {
                border-top-right-radius: 20px;
                border-bottom-left-radius: 20px;
              }
              &.bl {
                background-color: #c3ddf3;
              }
              &.yel {
                background-color: #f9ed9f;
              }
              &.gra {
                background-color: #b1b5b7;
              }
              &.purp {
                background-color: #e1d5e7;
              }
            }
          }
          p {
            font-size: 18px;
            letter-spacing: 0px;
            line-height: 22px;
            color: #383838;
            font-weight: 250;
            font-family: 'Raleway';
            text-align: center;
          }
        }
      }
    }
  }
}
