.arrowOnlyBtn {
  background: none;
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid #d8a27d00;
  border-radius: 25px;
  padding: 0 10px;
  margin-left: 15px;
  &:hover {
    border-color: #abbdd6;
  }
  .buttomLeftLine {
    width: 40px;
    height: 3px;
    background-color: #d8a27d;
  }
  & svg {
    margin-right: -7px;
    margin-left: -5px;
    font-size: 46px;
  }
}

@media only screen and (max-width: 700px) {
  .arrowOnlyBtn {
    display: none;
  }
}
