@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .servicesWrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    .familyImage {
      height: 600px;
      object-fit: cover;
    }
    .itemsWrapper {
      position: relative;
      top: -320px;
      margin-bottom: -320px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}
