.servicesWrapper {
  width: 31%;
  height: 700px;
  padding: 40px;
  padding-top: 107px;
  box-sizing: border-box;
  background-color: #fff4ed;
  border-top-left-radius: 17vw;
  border-top-right-radius: 17vw;
  h3 {
    width: 80%;
    height: 105px;
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 35px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
    font-family: 'Philosopher';
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .itemUl {
    li:marker {
      content: '-';
    }
  }
}
