@media only screen and (min-width: 1000px) {
  .serviceItemWrapper {
    width: 31%;
    box-sizing: border-box;
    background-color: #fff4ed;
    border-top-left-radius: 17vw;
    border-top-right-radius: 17vw;
    .headerContainer {
      width: 80%;
      height: 105px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      h3 {
        font-size: 28px;
        letter-spacing: 0px;
        line-height: 35px;
        text-transform: uppercase;
        color: #000000;
        font-weight: 400;
        font-family: 'Philosopher';
        text-align: center;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1284px) {
  .serviceItemWrapper {
    padding: 20px;
    padding-top: 95px;
  }
  .itemUl {
    height: 465px;
  }
}
@media only screen and (min-width: 1050px) and (max-width: 1284px) {
  .itemUl {
    height: 395px;
  }
}

@media only screen and (min-width: 1285px) {
  .serviceItemWrapper {
    padding: 40px;
    padding-top: 107px;
  }
  .itemUl {
    height: 380px;
  }
}

@media only screen and (min-width: 1500px) {
  .itemUl {
    height: 300px;
  }
}
